/* project area */
.site-main .project-area {
    padding: 4rem 0;
}

.site-main .project-area .grid .our-project > .title h4 {
    font: normal 700 25px/12px var(--roboto);
}
.site-main .project-area .grid .our-project .img img:hover  {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* end project area */