/* start navigation */
.header_area .main-menu .navbar-brand {
    padding: 0rem 0rem 0rem 8rem;
    /* filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf); */
}
.header_area .main-menu .navbar .navbar-brand img {
    width: 2rem;
    height: 3.5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 5rem; /*20rem*/
}
.navbar-fixed-on-sticky {
    padding: 1rem 2rem;
}
.header_area .main-menu .nav-item .nav-link {
    font:normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}
.header_area .main-menu .navbar-nav .active {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* end navigation */